.section {
    min-height: 100vh;
    color: white;
    width: 100%;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20%;
    /* border: 2px solid white; */
}

.text p:nth-child(1) {
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    margin-bottom: 1rem;
}

.text p:nth-child(2) {
    font-family: "Basquiat" , Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 17px;
}

.timeline {
    margin-top:50px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 200px;
}

.timeline::-webkit-scrollbar {
    display: none;
}